.header {
  position: relative;
  background-color: $firstBgColor;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  @media screen and (max-width: 767px) {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  color: $titleColor;
}

// -----------------MOBILE_MENU-----------------------
.menu-btn {
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .menu-btn:hover &,
  .menu-btn:focus & {
    fill: $accentColor;
  }
  &--open {
    fill: #000000;
  }
  &--close {
    fill: #212121;
  }
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  @media screen and (max-width: 420px) {
    padding: 48px 20px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link {
  display: block;
}

.menu__link--nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $titleColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.menu__link--current {
  color: $accentColor;
}

.menu__tel {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #2196f3;

  @media screen and (max-width: 350px) {
    font-size: 25px;
  }
}

.menu__mail {
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $mainTextColor;
}

.menu__soc {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 404px) {
    margin-bottom: -5px;
  }
}

.menu__soc-item {
  @media screen and (max-width: 404px) {
    margin-bottom: 5px;
  }
}
.menu__soc-item:not(:last-child)::after {
  content: " ";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  margin-left: 10px;
}

.menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;

  color: $accentColor;
}

.no-scroll {
  overflow: hidden;
}

// -----------------------------------------------

.header__nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.header__link--nav {
  padding-top: 32px;
  padding-bottom: 32px;
  color: $titleColor;
}

.header__link--current {
  position: relative;

  color: $accentColor;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    display: block;

    background-color: #2196f3;
    border-radius: 2px;

    z-index: 1;
  }
}

.header__contact {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__link--contact {
  display: flex;
  align-items: center;

  color: currentColor;
}

.header__icon {
  margin-right: 10px;

  fill: currentColor;
}

.header__data:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
