$accentColor: #2196f3;
$mainTextColor: #757575;
$titleColor: #212121;
$mainTitleColor: #ffffff;
$firstBgColor: #ffffff;
$secondBgColor: #2f303a;
$thirdBgColor: #f5f4fa;
$fourthBgColor: #c4c4c4;
$background: #e5e5e5;
$firstBtnColor: #212121;
$secondBtnColor: #ffffff;
$btnHoverColor: #188ce8;
$btnBgColor: #f5f4fa;
$footerLinkColor: rgba(255, 255, 255, 0.6);
$footerMapColor: #ffffff;
$iconFillFirstColor: #afb1b8;
$iconFillSecondColor: #ffffff;
$borderColor: #eeeeee;
